$light: #fff;
$primary-color: rgb(255,51,0);
// $primary-color: #13b1cd;
$secondary-color: #f5f8f9;
$event-color: #99ff00;
$law-color: #b99769;
$black: #330033;
$border-color:#dedede;
$primary-font:'Montserrat', sans-serif;
$secondary-font:'Poppins', sans-serif;
$extra-font:'Hind', serif;
$aubergine: #480048;
$lime-green: #99ff00;
$pacific-blue: #336699;
$hot-orange: #ff3300;
$ocra-yellow: #ffcc33;